*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-color: rgb(32, 35, 48); 
}
nav{
    position: fixed;
    top: 0;
    height: 50px;
    width: 100%;
    background: rgb(32, 35, 48);
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
  }

#logo{
    position: absolute;
    width: 979px;
    top: 650%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fill 0s ease forwards 0s, move-title 0s ease forwards 0s;
}

.page-bg{
    position: fixed;
    width: 100%;
    height: 93%;
    font-size: 100px;
    color: white;
    overflow: hidden;
    transform: translateY(200%);
    background-color: rgb(64, 42, 95);
    animation: move-bg 0s ease forwards 0s;
}

.nav-prod{
    position: relative;
    font-family: sans-serif;
    color: white;
    top: 20px;
    left: 240px;
    animation: 0s ease 0s normal forwards 1 fade-in;
}
.nav-about{
    position: absolute;
    font-family: sans-serif;
    color: white;
    top: 20px;
    left: 340px;
    animation: 0s ease 0s normal forwards 1 fade-in;
}
.nav-contacts{
    position: absolute;
    font-family: sans-serif;
    color: white;
    top: 20px;
    left: 440px;
    animation: 0s ease 0s normal forwards 1 fade-in;
}

.nav-target{
    position: absolute;
    font-family: sans-serif;
    color: white;
    top: 20px;
    left: 540px;
    animation: 0s ease 0s normal forwards 1 fade-in;
}

#logo path:nth-child(1){
    stroke-dasharray: 321.875;
    stroke-dashoffset: 321.875;
    animation: line-anim 0s ease forwards;
}
#logo path:nth-child(2){
    stroke-dasharray: 549.763;
    stroke-dashoffset: 549.763;
    animation: line-anim 0s ease forwards;
}
#logo path:nth-child(3){
    stroke-dasharray: 506.731;
    stroke-dashoffset: 506.731; 
    animation: line-anim 0s ease forwards;
}
#logo path:nth-child(4){
    stroke-dasharray: 314.818;
    stroke-dashoffset: 314.818;
    animation: line-anim 0s ease forwards;
}
#logo path:nth-child(5){
    stroke-dasharray: 549.761;
    stroke-dashoffset: 549.761;
    animation: line-anim 0s ease forwards;
}
#logo path:nth-child(6){
    stroke-dasharray: 607.804;
    stroke-dashoffset: 607.804;
    animation: line-anim 0s ease forwards;
}
#logo path:nth-child(7){
    stroke-dasharray: 323.193;
    stroke-dashoffset: 323.193;
    animation: line-anim 0s ease forwards;
}
#logo path:nth-child(8){
    stroke-dasharray: 627.2;
    stroke-dashoffset: 627.2;
    animation: line-anim 0s ease forwards 0s;
}
#logo path:nth-child(9){
    stroke-dasharray: 405.968;
    stroke-dashoffset: 405.968;
    animation: line-anim 0s ease forwards 0s;
}
#logo path:nth-child(10){
    stroke-dasharray: 607.805;
    stroke-dashoffset: 607.805;
    animation: line-anim 0s ease forwards 0s;
}
#logo path:nth-child(11){
    stroke-dasharray: 693.758;
    stroke-dashoffset: 693.758;
    animation: line-anim 0s ease forwards 0s;
}

@keyframes line-anim{
    to{
        stroke-dashoffset: 0;
    }
}

@keyframes fill{
    from{
        fill: transparent
    }
    to{
        fill: white;
    }
}

@keyframes move-title{
    to{
        top: 25px;
        left: 110px;
        height: 180px;
        width: 200px;
    }
}

@keyframes move-title-mobile{
    to{
        top: 25px;
        left: 60px;
        height: 180px;
        width: 100px;
    }
}

@keyframes move-bg {
    to{
        transform: translateY(50px);
        position: absolute;
    }
}

@keyframes fade-in{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}

@media screen and (max-width: 800px){
    #logo{
        width: 50%;
        animation: fill 0.5s ease forwards 2s, move-title-mobile 0.8s ease forwards 3s;
    }
    .nav-prod{
        position: relative;
        font-family: sans-serif;
        color: white;
        top: 18px;
        left: 130px;
        animation: 6s ease 0s normal forwards 1 fade-in;
    }
    .nav-about{
        position: absolute;
        font-family: sans-serif;
        color: white;
        top: 18px;
        left: 205px;
        animation: 6s ease 0s normal forwards 1 fade-in;
    }
    .nav-contacts{
        position: absolute;
        font-family: sans-serif;
        color: white;
        top: 18px;
        left: 280px;
        animation: 6s ease 0s normal forwards 1 fade-in;
    }

}

#content-title {
    font-size: 40px;
    margin-top: 2%;
    margin-left: 41%;
}

#canvas {
    display: block;
    margin: auto;
    background-color: lightgray;
    margin-top: 2%;
    margin-bottom: 0;
    width: 500px;
    height: 500px;
    cursor: grab;
}